@font-face {
  font-family: 'MyFont';
  src: url('../assets/fonts/fontRoboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('../assets/fonts/fontRoboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
